.quiz-design-page {
  padding: 2rem;
  text-align: center;
  background-color: #011833; /* Dark Blue */
  color: #ffffff;
  min-height: 100vh;
}

h1 {
  font-size: 2.5rem;
  color: #ff4d4f; /* Vibrant Red */
  margin-bottom: 2rem;
}

.form {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  background-color: #022244; /* Slightly lighter dark blue */
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

input,
textarea,
select {
  width: 90%;
  padding: 0.8rem;
  margin: 1rem 0;
  border: none;
  border-radius: 5px;
  background-color: #ffffff; /* White background */
  color: #000000; /* Black text color */
  font-size: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

input::placeholder,
textarea::placeholder,
select::placeholder {
  color: #808080; /* Gray placeholder text for contrast */
}

textarea {
  resize: none;
  height: 100px;
}




.add-question-button {
  background-color: #4caf50;
  color: #ffffff;
  margin-right: 3%;
  padding: 0.8rem 1.5rem;
  margin-top: 1rem;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-question-button:hover {
  background-color: #388e3c;
}

.create-quiz-button {
  background-color: #ff4d4f;
  color: #ffffff;
  padding: 0.8rem 1.5rem;
  margin-top: 1rem;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-quiz-button:hover {
  background-color: #e03e40;
}

.question-item {
  background-color: #044375;
  color: #000000;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 5px;
  font-size: 1rem;
  text-align: left;
}
